body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #FFE994;
}
.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
  color: #09127F;
}

.masthead {
  padding: 6em 0;
  background-image: url("https://ununsplash.imgix.net/uploads/14114036359651bd991f1/b3ed8fdf?q=75&fm=jpg&s=70117f43f85b1b03d8371a6a880fc1ba");
  background-size: cover;
  border-top: .125em solid #09127F;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-weight: bold;
  font-size: 2em;
  font-family: "Gentium Book Basic", Georgia, serif;
}

.masthead-heading {
  margin-top: -0.2em;
  /*font-variant: small-caps;*/
  font-size: 3.5em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.introduction-section,
.location-section,
.questions-section,
.content-footer {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.social > li {
	display: inline-block;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.box {
  margin: 0em 10em 0em 10em;
  border-left: .125em solid #09127F;
  border-right: .125em solid #09127F;
}